#all{
    color: #F5A421;
    border: 1px solid #f5a421;
    background-color: rgba(245, 164, 33, 0.1);
}

#folder{
    color: #ff6b16;
    background-color: rgba(255, 107, 22, 0.1);
}

#file{
    color: #ff0303;
    background-color: rgba(255, 3, 3, 0.1);
}

#img{
    color: #2a3c98;
    background-color: rgba(42, 60, 152, 0.1);
}

#audio{
    color: #4ba2ef;
    background-color: rgba(75, 162, 239, 0.1);
}

#video{
    color: #87b52a;
    background-color: rgba(135, 181, 42, 0.1);
}

#trash{
    color: #af3737;
    background-color: rgba(175, 55, 55, 0.1);
}

.filter-btn{
    font-size: 70% !important;
    min-width: 94px !important;
    width: fit-content !important;
    margin: 3px !important;
    height: 30px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    /* border: none !important; */
}