.folders-dropdown button {
  background-color: #f4b248;
  border: none;
  color: white;
  min-width: 137px;
}

.folders-dropdown button:hover {
  background-color: #f4b248;
  border: none;
  color: white;
}

.folders-dropdown #dropdown-menu-align-right:active {
  background-color: #f4b248;
  border: none;
  color: white;
}

.react-bootstrap-table {
  max-width: 1500px !important;
  margin: auto !important;
}
