.new-folder-modal{
    padding-bottom: "100%"
}

.new-folder-modal > .modal-content{
    padding-bottom: 3%;
}

.line-up{
    background-color: #F4B248;
    height: 7px;
    width: 100%;
}

.new-folder-modal .modal-header{
    padding: 0;
    display: block;
}

.new-folder-modal .modal-title{
    align-items: center;
}

.new-folder-modal .close-btn{
    background-color: transparent;
    border: none;
    margin: 10px auto auto 90%;
    width: fit-content;
}

