.theme-color{
    background-color: #F4B248;
}

body{
    background-color: #F4F4F4 !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.display-none{
    display: none;
}

.modal-content{
    overflow: hidden;
}

#footer404 {
  background-image: url("./assets/path.svg");
}