.full-screen-container {
  position: absolute;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  top: 70px;
  left: 0;
  right: 0;
}

.full-screen-img-container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-grow: 3;
  padding: 3%;
}

.full-screen-img {
  max-width: 100%;
  margin: auto;
  max-height: 55vh;
}

.close-full-screen-btn {
  margin: 10px auto auto 95%;
}

.full-screen-container button {
  width: fit-content;
  background-color: transparent;
  border: none;
  display: inline-block;
}

.full-screen-container .prev-next-btns {
  margin: auto 3%;
  flex-grow: 1;
}
