.on-list-display {
  display: inline-block;
  width: 29%;
  max-width: 500px;
  height: 100%;
  float: right;
}

.on-grid-display {
  position: absolute;
  z-index: 3;
  top: 70px;
  right: 0;
  display: block;
  width: 35vw;
  max-width: 550px;
  height: calc(100vh - 70px);
  padding: 1%;
  border: #f4f4f4 1px solid;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.show-grid-view {
  transform: translateX(0);
}

.pre-file {
  color: #8181a5;
  overflow-y: scroll;
  background-color: white;
}

.add_note_container {
  float: right;
  cursor: pointer;
}

.add_note_container .inline {
  display: inline-block;
}

.add_note_container p {
  color: #f4b248;
  margin-right: 15px;
}

.save_note_btn {
  float: right;
  position: absolute;
  bottom: 20%;
  right: 5%;
  border: none;
  background-color: transparent;
}

.save_note_btn p {
  display: inline-block;
  width: fit-content;
  color: #f4b248;
  margin-right: 10px;
}

.file-preview-close-btn {
  width: 35px;
  margin-left: 87%;
  cursor: pointer;
}

.file-url {
  height: 38px;
  border: none;
  background-color: #f6f6fa;
  font-size: 60%;
  resize: none;
  float: right;
  width: calc(100% - 50px);
}

.folderBtn {
  color: gray;
  float: right;
  /* border: none; */
}

.folderBtn:hover {
  color: gray;
  border: 1px solid #f4b248;
}
